@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url('../../../public/fonts/Bebas/BebasNeueCyrillic.woff2') format('woff2'),
        url('../../../public/fonts/Bebas/BebasNeueCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('../../../public/fonts/PT Root UI/PTRootUI-Regular.woff2') format('woff2'),
        url('../../../public/fonts/PT Root UI/PTRootUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('../../../public/fonts/PT Root UI/PTRootUI-Medium.woff2') format('woff2'),
        url('../../../public/fonts/PT Root UI/PTRootUI-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('../../../public/fonts/PT Root UI/PTRootUI-Bold.woff2') format('woff2'),
        url('../../../public/fonts/PT Root UI/PTRootUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('../../../public/fonts/PT Root UI/PTRootUI-Light.woff2') format('woff2'),
        url('../../../public/fonts/PT Root UI/PTRootUI-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI VF';
    src: url('../../../public/fonts/PT Root UI/PTRootUIVF.woff2') format('woff2'),
        url('../../../public/fonts/PT Root UI/PTRootUIVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

